// login.module.scss
.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: rgba($color: #ffd154, $alpha: 1);
  padding: 8px 16px;
  max-width: 350px;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #002795;
  form {
    display: block;

    label {
      font-size: 1.5rem;
      font-weight: bold;
    }

    input {
      background-color: #fff;
      padding: 1rem;
      padding-right: 3rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 300px;
      border-radius: 0.5rem;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    button {
      display: block;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      background-color: #4f46e5;
      color: #ffffff;
      font-size: 1.2rem;
      line-height: 1.25rem;
      font-weight: 500;
      width: 100%;
      border-radius: 0.5rem;
      text-transform: uppercase;

      &:hover {
        background-color: #3e8e41;
        cursor: pointer;
      }
    }
    .form-title {
      padding: 8px 16px;
      font-size: 1.8rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      color: #000;
    }
    .signup-link {
      margin: 8px 16px;
      color: #6b7280;
      line-height: 1.25rem;
      text-align: center;
      a {
        text-decoration: underline;
      }
    }
  }
}
