<div class="search-form mt-4">
    <form style="width: 80%; margin: 0 auto;">
      <div class="form-group" >
        <label for="search-input">Từ Khóa</label>
        <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa..">
      </div>

      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div >